ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

li {
    float: left;

}

li a {
    display: block;
    color: darkgrey;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    
}

a.options{
    transform: translate(0px, 50px);
}



.logo {
    font-size: 35px;
    font-family: fantasy;
    float: rigth;
    
}

.nav-logo{
    float: left;
}

.nav-search{
    float: right;
    transform: translate(0px, 10px);
}



h1{
    text-align: center;
}

.tagline{
    background-color: black;
    font-size: 25px;
    color: white;
}

.customer-testimonials{
    color: black;
    text-align: center;
}

.customer-testimonials p{
    color: black;
    
    text-align: center;
}

.lorem{
    background-color: black;
    text-align: center;
    color: white;

}

.lorem h2{
    font-size: 35px;
}

button{
    border-radius: 20px;
    color: white;
    margin: 5px;
    padding:10px 50px;
    background-color: black;
}

p.item{
    font-size: 40px;
}

