ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

li {
    float: left;

}

li a {
    display: block;
    color: darkgrey;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.logo {
    font-size: 35px;
    font-family: fantasy;
    float: rigth;
    
}

.nav-logo{
    float: left;
}

.nav-search{
    float: right;
}



h1{
    text-align: center;
}

.tagline{
    background-color: black;
    font-size: 25px;
    color: white;
}

.customer-testimonials{
    color: black;
    text-align: center;
}

.customer-testimonials p{
    color: black;
    
    text-align: center;
}

.lorem{
    background-color: black;
    text-align: center;
    color: white;

}

.lorem h2{
    font-size: 50px;
}
